@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("../src/assets/fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: "DMSans-BoldItalic";
  src: url("../src/assets/fonts/DMSans-BoldItalic.ttf");
}

@font-face {
  font-family: "DMSans-Italic";
  src: url("../src/assets/fonts/DMSans-Italic.ttf");
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("../src/assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "DMSans-Medium";
  src: url("../src/assets/fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("../src/assets/fonts/DMSans-MediumItalic.ttf");
}

